body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

#main-header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#main-header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

#content {
    grid-area: main;
    padding: 20px;
}

#conten > section {
    margin-bottom: 20px;
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

#dashboard > article {
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

#dashboard > article > h2 {
    margin-top: 0;
}

#main-footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}